.idea/
storage

#./uploads
#uploads/*
/tmp

tmp/*
.env
cmd/http/storage/*

#shop assets
/public/shop/css/main.css
#end shop assets

/internal/database/mysql/dbconfig.yml

/vendor/
/node_modules/
.phpunit.result.cache
