{{define "cart"}}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/assets/shop/img/seller-logo.png" type="image/icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{.TITLE}}</title>
        <!-- Font Icon -->
        <link rel="stylesheet" href="/assets/shop/css/vendor/font-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/shop/css/vendor/bootstrap.min.css">
        <!-- Plugins -->
        <link rel="stylesheet" href="/assets/shop/plugin/go-to-top/style.css">
        <link rel="stylesheet" href="/assets/shop/plugin/iran-map/iranmap.css">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/shop/css/main.css">
    </head>

    <body>
    <div class="wrapper">
        <!-------------------------------- Header Section -->
        {{template "header_tmpl" .}}
        <!-------------------------------- Header Section -->

        <!--------------------- Mobile side menu Responsive Section -->
        {{template "mobile_side_menu_tmpl" .}}
        <!--------------------- Mobile side menu Responsive Section -->

        <!---------------------------- Page Loader Section-->
        <div class="page-loader">
            <div class="page-loader-content">
                <div class="logo-area">
                    <img src="/assets/shop/img/svg/logo.svg" alt="">
                </div>
                <span class="loader"></span>
            </div>
        </div>
        <!---------------------------- Page Loader Section-->

        <!--------------------------------- Main Content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">


                <div class="row mx-0 ">
                    {{if .MESSAGE}}
                        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 mb-2 mt-2"
                             style="padding-left: 0;padding-right: 0;">
                            <nav class="tab-cart-page">
                                <div class="nav nav-tabs w-auto">
                                    <h4 class="text-center  text-danger">
                                        {{.MESSAGE}}
                                    </h4>
                                </div>
                            </nav>
                        </div>
                    {{end}}

                    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 mb-2 mt-2"
                         style="padding-left: 0;padding-right: 0;">
                        <nav class="tab-cart-page">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link d-inline-flex w-auto active" id="nav-home-tab"
                                   data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home"
                                   aria-selected="true">سبد خرید<span
                                            class="count-cart">{{.AUTH.Cart.CartItem.TotalItemCount}}</span></a>
                            </div>
                        </nav>
                    </div>
                    <div class="col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="row"><!-- w-res-sidebar --->
                                    <div class="col-xl-9 col-lg-8 col-12 px-0">
                                        <div class="table-responsive checkout-content dt-sl">
                                            <div class="checkout-header checkout-header--express">
                                                <svg style="position: absolute;right: 0;" width="20px" height="20px"
                                                     viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_901_3167)">
                                                        <path d="M27.9731 6L28.9731 17H18.9731V5H26.9731C27.5031 5 27.8831 5.27 27.9731 6Z"
                                                              fill="#FFE6EA"/>
                                                        <path d="M24.9731 25C26.6331 25 27.9731 26.34 27.9731 28C27.9731 29.66 26.6331 31 24.9731 31C23.3131 31 21.9731 29.66 21.9731 28C21.9731 26.34 23.3131 25 24.9731 25ZM7.97308 25C9.63308 25 10.9731 26.34 10.9731 28C10.9731 29.66 9.63308 31 7.97308 31C6.31308 31 4.97308 29.66 4.97308 28C4.97308 27.69 5.02308 27.38 5.11308 27.1C5.49308 25.88 6.62308 25 7.97308 25Z"
                                                              fill="#668077"/>
                                                        <path d="M1.05318 3L2.55318 12L3.87318 20L5.05318 27.08L5.11318 27.1C5.49318 25.88 6.62318 25 7.97318 25C9.63318 25 10.9732 26.34 10.9732 28H21.9731C21.9731 26.34 23.3131 25 24.9731 25C26.6331 25 27.9731 26.34 27.9731 28H30.9731V19C30.9731 18 29.9731 17 28.9731 17H18.9732V2C18.9732 1.48 18.4832 1 17.9732 1H2.97318C1.63318 1 0.773177 1.34 1.05318 3Z"
                                                              fill="#FFC44D"/>
                                                        <path d="M28 28C28 26.344 26.656 25 25 25C23.344 25 22 26.344 22 28C22 29.656 23.344 31 25 31C26.656 31 28 29.656 28 28ZM28 28H31V19C31 18 30 17 29 17M11 28C11 26.344 9.656 25 8 25C6.344 25 5 26.344 5 28C5 29.656 6.344 31 8 31C9.656 31 11 29.656 11 28ZM11 28H19V2C19 1.484 18.515 1 18 1H3C1.656 1 0.797 1.344 1.078 3L2 9M29 17H22M29 17L28 6C27.906 5.266 27.531 5 27 5H22M8 16H2M9 20H3M7 12H1"
                                                              stroke="#000000" stroke-width="2" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_901_3167">
                                                            <rect width="32" height="32" fill="white"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>

                                                <span class="checkout-header-title">ارسال عادی</span>
                                                <span class="checkout-header-extra-info">({{.AUTH.Cart.CartItem.TotalItemCount}} کالا)</span>
                                            </div>
                                            <div class="checkout-section-content-dd-k">
                                                <div class="cart-items-dd-k">

                                                    {{$ERRORS:=.ERRORS}}
                                                    {{if gt (len .AUTH.Cart.CartItem.Data) 0}}
                                                        {{$carItem:=.AUTH.Cart.CartItem}}
                                                        {{range $item:= $carItem.Data}}

                                                            <div class="cart-item py-4 px-3">
                                                                <div class="item-thumbnail">
                                                                    <a href="#">
                                                                        <img src="/{{$item.ProductImage}}"
                                                                             alt="item">
                                                                    </a>
                                                                </div>
                                                                <div class="item-info flex-grow-1">
                                                                    <div class="item-title">
                                                                        <h2>
                                                                            <a href="/product/{{$item.ProductSku}}/{{$item.ProductSlug}}">
                                                                                {{$item.ProductTitle}}
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                    <div class="item-detail">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="far fa-clipboard-check text-primary"></i>
                                                                                <span>موجود در انبار</span>
                                                                            </li>
                                                                        </ul>
                                                                        <div class="item-quantity--item-price">
                                                                            <div class="item-quantity">
                                                                                <form action="/cart/increment"
                                                                                      method="post">
                                                                                    <input type="hidden"
                                                                                           name="product_id"
                                                                                           value="{{$item.ProductID}}"/>
                                                                                    <input type="hidden"
                                                                                           name="inventory_id"
                                                                                           value="{{$item.InventoryID}}"/>
                                                                                    <input type="hidden" name="cart_id"
                                                                                           value="{{$item.CartID}}"/>
                                                                                    <button class="item-remove-btn ml-3"
                                                                                            type="submit">
                                                                                        <i style="color: green"
                                                                                           class="far fa-plus-hexagon "></i>
                                                                                    </button>
                                                                                </form>
                                                                                <span>
                                                                                            {{$item.Quantity}}
                                                                                        </span>
                                                                                {{if gt $item.Quantity 1}}
                                                                                    <form action="/cart/decrement"
                                                                                          method="post">
                                                                                        <input type="hidden"
                                                                                               name="product_id"
                                                                                               value="{{$item.ProductID}}"/>
                                                                                        <input type="hidden"
                                                                                               name="inventory_id"
                                                                                               value="{{$item.InventoryID}}"/>
                                                                                        <input type="hidden"
                                                                                               name="cart_id"
                                                                                               value="{{$item.CartID}}"/>
                                                                                        <button class="item-remove-btn mr-3 "
                                                                                                type="submit">
                                                                                            <i class="far  fa-minus-hexagon "></i>
                                                                                        </button>
                                                                                    </form>
                                                                                {{end}}
                                                                                <form action="/cart/remove"
                                                                                      method="post">
                                                                                    <input type="hidden"
                                                                                           name="product_id"
                                                                                           value="{{$item.ProductID}}"/>
                                                                                    <input type="hidden"
                                                                                           name="inventory_id"
                                                                                           value="{{$item.InventoryID}}"/>
                                                                                    <input type="hidden" name="cart_id"
                                                                                           value="{{$item.CartID}}"/>
                                                                                    <button type="submit"
                                                                                            style="color: darkred"
                                                                                            class="item-remove-btn mr-3">
                                                                                        <i style="color: darkred"
                                                                                           class="far fa-trash-alt"></i>
                                                                                        حذف
                                                                                    </button>
                                                                                </form>
                                                                                <div>

                                                                                    {{range $productID,$a:=$ERRORS}}
                                                                                        {{if eq $item.ProductID (stringToUint $productID)}}
                                                                                            <div class="badge-pill badge-danger mr-1">{{$a}}</div>
                                                                                        {{end}}
                                                                                    {{end}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="item-price">
                                                                                {{$item.SalePrice}}
                                                                                <span class="text-sm mr-1">تومان</span>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {{end}}
                                                    {{else}}
                                                        <div class="dt sl dt-sn dt-sn--box border pt-3 pb-5"
                                                             style="box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);">
                                                            <div class="cart-page cart-empty">
                                                                <div class="circle-box-icon">
                                                                    <i>
                                                                        <svg width="70px" height="70px"
                                                                             viewBox="0 0 24 24" fill="none"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M2 3L2.26491 3.0883C3.58495 3.52832 4.24497 3.74832 4.62248 4.2721C5 4.79587 5 5.49159 5 6.88304V9.5C5 12.3284 5 13.7426 5.87868 14.6213C6.75736 15.5 8.17157 15.5 11 15.5H19"
                                                                                  stroke="#1C274C" stroke-width="1.5"
                                                                                  stroke-linecap="round"></path>
                                                                            <path opacity="0.5"
                                                                                  d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                                                                                  stroke="#1C274C"
                                                                                  stroke-width="1.5"></path>
                                                                            <path opacity="0.5"
                                                                                  d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
                                                                                  stroke="#1C274C"
                                                                                  stroke-width="1.5"></path>
                                                                            <path opacity="0.5" d="M11 9H8"
                                                                                  stroke="#1C274C" stroke-width="1.5"
                                                                                  stroke-linecap="round"></path>
                                                                            <path d="M5 6H16.4504C18.5054 6 19.5328 6 19.9775 6.67426C20.4221 7.34853 20.0173 8.29294 19.2078 10.1818L18.7792 11.1818C18.4013 12.0636 18.2123 12.5045 17.8366 12.7523C17.4609 13 16.9812 13 16.0218 13H5"
                                                                                  stroke="#1C274C"
                                                                                  stroke-width="1.5"></path>
                                                                        </svg>
                                                                    </i>
                                                                </div>
                                                                <p class="cart-empty-title mb-2">سبد خرید شما
                                                                    خالیست!</p>
                                                                <p class="mb-3">می&zwnj;توانید برای مشاهده محصولات بیشتر
                                                                    به صفحات زیر بروید:</p>
                                                                <div class="cart-empty-links mb-5">
                                                                    <a href="/" class="border-bottom-dt">محصولات پرفروش
                                                                        روز</a>
                                                                </div>
                                                                <a href="/" class="btn-primary-cm">ادامه خرید </a>
                                                            </div>
                                                        </div>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{if gt .AUTH.Cart.CartItem.TotalItemCount 0}}
                                        <div class="col-xl-3 col-lg-4 col-12 sticky-sidebar">
                                            <div class="widget-post1 dt-sn dt-sn--box border mb-2">
                                                <ul class="checkout-summary-summary">
                                                    <li>
                                                        <span>
                                                            مبلغ کل ({{.AUTH.Cart.CartItem.TotalItemCount}} کالا)
                                                        </span>
                                                        <span>
                                                            {{.AUTH.Cart.CartItem.TotalOriginalPrice}}
                                                            تومان
                                                        </span>
                                                    </li>
                                                    <li class="checkout-summary-discount">
                                                        <span>سود شما از خرید</span>
                                                        <span>
                                                            <span>(۱٪)</span>
                                                            {{.AUTH.Cart.CartItem.TotalProfitPrice}}
                                                        تومان
                                                        </span>
                                                    </li>
                                                    <li>
                                                    <span>هزینه ارسال
                                                        <span class="help-sn" data-toggle="tooltip"
                                                              data-html="true" data-placement="bottom"
                                                              title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با 120هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">

                                                        </span>
                                                    </span>
                                                        <span>وابسته به آدرس</span>
                                                    </li>

                                                </ul>
                                                <div class="checkout-summary-devider">
                                                    <div></div>
                                                </div>
                                                <div class="checkout-summary-content">
                                                    <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                                    <div class="checkout-summary-price-value">
                                                        <span class="checkout-summary-price-value-amount">
                                                            {{.AUTH.Cart.CartItem.TotalSalePrice}}
                                                        </span>
                                                        تومان
                                                    </div>
                                                    <a href="#" class="mb-2 d-block">
                                                        <form action="/checkout/shipping" method="get">
                                                            <button type="submit"
                                                                    class="btn-primary-cm btn-with-icon w-100 text-center pr-0">
                                                                <i>
                                                                    <svg width="25px" height="25px" viewBox="0 0 24 24"
                                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <g id="Iconly/Curved/Arrow - Left">
                                                                            <g id="Arrow - Left">
                                                                                <path id="Stroke 1"
                                                                                      d="M4.24988 12.2742L19.2499 12.2742"
                                                                                      stroke="#fff" stroke-width="1.5"
                                                                                      stroke-linecap="round"
                                                                                      stroke-linejoin="round"/>
                                                                                <path id="Stroke 3"
                                                                                      d="M10.3002 18.2988C10.3002 18.2988 4.25017 15.0378 4.25017 12.2758C4.25017 9.51176 10.3002 6.24976 10.3002 6.24976"
                                                                                      stroke="#fff" stroke-width="1.5"
                                                                                      stroke-linecap="round"
                                                                                      stroke-linejoin="round"/>
                                                                            </g>
                                                                        </g>
                                                                    </svg>
                                                                </i>
                                                                تایید و تکمیل سفارش
                                                            </button>
                                                        </form>
                                                    </a>
                                                    <div>
                                                    <span>
                                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                                        مراحل بعدی را تکمیل کنید.
                                                    </span><span class="help-sn" data-toggle="tooltip" data-html="true"
                                                                 data-placement="bottom"
                                                                 title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی پرس هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">

                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-post2 dt-sn dt-sn--box checkout-feature-aside pt-4">
                                                <ul>
                                                    <li class="checkout-feature-aside-item">
                                                        <img src="/assets/shop/img/svg/return-policy.svg" alt="">
                                                        هفت روز ضمانت تعویض
                                                    </li>
                                                    <li class="checkout-feature-aside-item">
                                                        <img src="/assets/shop/img/svg/payment-terms.svg" alt="">
                                                        پرداخت در محل با کارت بانکی
                                                    </li>
                                                    <li class="checkout-feature-aside-item">
                                                        <img src="/assets/shop/img/svg/delivery.svg" alt="">
                                                        تحویل اکسپرس
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {{end}}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-8 col-12 px-0">
                                        <div class="table-responsive checkout-content dt-sl">
                                            <div class="checkout-header checkout-header--express">
                                                <svg style="position: absolute;right: 0;" width="20px" height="20px"
                                                     viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_901_3167)">
                                                        <path d="M27.9731 6L28.9731 17H18.9731V5H26.9731C27.5031 5 27.8831 5.27 27.9731 6Z"
                                                              fill="#FFE6EA"/>
                                                        <path d="M24.9731 25C26.6331 25 27.9731 26.34 27.9731 28C27.9731 29.66 26.6331 31 24.9731 31C23.3131 31 21.9731 29.66 21.9731 28C21.9731 26.34 23.3131 25 24.9731 25ZM7.97308 25C9.63308 25 10.9731 26.34 10.9731 28C10.9731 29.66 9.63308 31 7.97308 31C6.31308 31 4.97308 29.66 4.97308 28C4.97308 27.69 5.02308 27.38 5.11308 27.1C5.49308 25.88 6.62308 25 7.97308 25Z"
                                                              fill="#668077"/>
                                                        <path d="M1.05318 3L2.55318 12L3.87318 20L5.05318 27.08L5.11318 27.1C5.49318 25.88 6.62318 25 7.97318 25C9.63318 25 10.9732 26.34 10.9732 28H21.9731C21.9731 26.34 23.3131 25 24.9731 25C26.6331 25 27.9731 26.34 27.9731 28H30.9731V19C30.9731 18 29.9731 17 28.9731 17H18.9732V2C18.9732 1.48 18.4832 1 17.9732 1H2.97318C1.63318 1 0.773177 1.34 1.05318 3Z"
                                                              fill="#FFC44D"/>
                                                        <path d="M28 28C28 26.344 26.656 25 25 25C23.344 25 22 26.344 22 28C22 29.656 23.344 31 25 31C26.656 31 28 29.656 28 28ZM28 28H31V19C31 18 30 17 29 17M11 28C11 26.344 9.656 25 8 25C6.344 25 5 26.344 5 28C5 29.656 6.344 31 8 31C9.656 31 11 29.656 11 28ZM11 28H19V2C19 1.484 18.515 1 18 1H3C1.656 1 0.797 1.344 1.078 3L2 9M29 17H22M29 17L28 6C27.906 5.266 27.531 5 27 5H22M8 16H2M9 20H3M7 12H1"
                                                              stroke="#000000" stroke-width="2" stroke-linecap="round"
                                                              stroke-linejoin="round"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_901_3167">
                                                            <rect width="32" height="32" fill="white"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span class="checkout-header-title">ارسال عادی</span>
                                                <span class="checkout-header-extra-info">(3 کالا)</span>
                                                <a class="checkout-add-all-to-cart">
                                                    افزودن همه به سبد خرید
                                                </a>
                                            </div>
                                            <div class="checkout-section-content-dd-k">
                                                <div class="cart-items-dd-k">
                                                    <div class="cart-item py-4 px-3">
                                                        <div class="item-thumbnail">
                                                            <a href="#">
                                                                <img src="/assets/shop/img/cart/cart01.jpg" alt="item">
                                                            </a>
                                                        </div>
                                                        <div class="item-info flex-grow-1">
                                                            <div class="item-title">
                                                                <h2>
                                                                    <a href="#">
                                                                        گوشی موبایل سامسونگ
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="item-detail">
                                                                <ul>
                                                                    <li>
                                                                        <span class="color"
                                                                              style="background-color: #9E9E9E;"></span>
                                                                        <span>خاکستری</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="far fa-shield-check text-muted"></i>
                                                                        <span>گارانتی ۱۸ ماهه</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="far fa-store-alt text-muted"></i>
                                                                        <span>نام فروشنده</span>
                                                                    </li>
                                                                    <li>
                                                                        <i
                                                                                class="far fa-clipboard-check text-primary"></i>
                                                                        <span>موجود در انبار</span>
                                                                    </li>
                                                                </ul>
                                                                <div class="item-quantity--item-price">
                                                                    <div class="item-quantity">
                                                                        <div class="num-block">
                                                                            <div class="num-in">
                                                                                <button class="plus">s</button>
                                                                                <input type="text" class="in-num"
                                                                                       value="1" readonly>
                                                                                <span class="minus dis"></span>
                                                                            </div>
                                                                        </div>
                                                                        <button class="item-remove-btn mr-3">
                                                                            <i class="far fa-trash-alt"></i>
                                                                            حذف
                                                                        </button>
                                                                    </div>
                                                                    <div class="item-price">
                                                                        ۱۰,000,۰۰۰<span
                                                                                class="text-sm mr-1">تومان</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--------------------------------- Main Content -->

        <!-------------------------- Mobile Footer Menu Section-->
        {{template "mobile_footer_menu_tmpl" .}}
        <!-------------------------- Mobile Footer menu Section-->

        <!-------------------------------- Footer Section -->
        <footer class="main-footer dt-sl">
            <div class="back-to-top">
                <!--<a href="#">
                    <span class="icon">
                    <i class="mdi mdi-chevron-up"></i>
                    </span>
                    <span>بازگشت به بالا</span>
                </a>-->
            </div>
            <div class="container main-container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/delivery.svg">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/contact-us.svg">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/payment-terms.svg">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/return-policy.svg">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/origin-guarantee.svg">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">راهنمای خرید از دیجی پرس</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">نحوه ثبت سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه ارسال سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">شیوه‌های پرداخت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">پاسخ به پرسش‌های متداول</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه‌های بازگرداندن کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a href="#">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">با دیجی پرس</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">فروش در دیجی پرس</a>
                                    </li>
                                    <li>
                                        <a href="#">همکاری با سازمان‌ها</a>
                                    </li>
                                    <li>
                                        <a href="#">فرصت‌های شغلی</a>
                                    </li>
                                    <li>
                                        <a href="#">تماس با دیجی پرس</a>
                                    </li>
                                    <li>
                                        <a href="#">درباره دیجی پرس</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                                <form action="" class="mt-3">
                                    <input type="email" class="form-control"
                                           placeholder="آدرس ایمیل خود را وارد کنید...">
                                    <input type="submit" class="btn btn-primary" value="ارسال">
                                </form>
                            </div>
                            <div class="socials">
                                <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                                <div class="footer-social">
                                    <ul class="text-center mt-2">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-12 text-right">
                            <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container main-container">
                    <div class="row">
                        <br>
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی دیجی پرس، بررسی، انتخاب و خرید آنلاین</h1>
                            <p> دیجی پرس به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا،
                                موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل
                                شود. به محض ورود به دیجی پرس با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز
                                دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد. </p>
                        </div>
                        <div class="symbol col-12 col-lg-5">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/enamad/symbol-01.png" alt="">
                            </a>
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/enamad/symbol-02.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container main-container">
                    <p> استفاده از مطالب فروشگاه اینترنتی دیجی پرس فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی پرس) می‌باشد. </p>
                </div>
            </div>
        </footer>
        <!-------------------------------- Footer Section -->

        <!----------------------------- Go To Top Section -->
        {{template "go_to_top_tmpl" .}}
        <!----------------------------- Go To Top Section -->


    </div>

    <!-- Core JS Files -->
    <script src="/assets/shop/js/vendor/jquery.min.js"></script>
    <script src="/assets/shop/js/vendor/popper.min.js"></script>
    <script src="/assets/shop/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Plugins -->
    <script src="/assets/shop/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/assets/shop/plugin/go-to-top/script.js"></script>
    <script src="/assets/shop/plugin/iran-map/iranmap.js"></script>
    <!-- Main JS File -->
    <script src="/assets/shop/js/js-cart/js-cart.js"></script>
    <!-- my custom JS File -->
    <script src="/assets/shop/js/mylink/my-link.js"></script>
    <script src="/assets/shop/js/tseaerch/tsearch.js"></script>
    <script src="/assets/shop/js/tseaerch/tsearch_small.js"></script>
    </body>
    </html>
{{end}}