{{define "customer_edit_profile"}}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/assets/shop/img/seller-logo.png" type="image/icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{.TITLE}}</title>
        <link rel="stylesheet" href="/assets/shop/css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/bootstrap-slider.min.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/jquery.horizontalmenu.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/jquery-stack-menu.min.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/nice-select.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/nouislider.min.css">
        <link rel="stylesheet" href="/assets/shop/plugin/go-to-top/style.css">
        <link rel="stylesheet" href="/assets/shop/plugin/iran-map/iranmap.css">
        <link rel="stylesheet" href="/assets/shop/css/main.css">
    </head>

    <body>
    <div class="wrapper">
        <!-------------------------------- Header Section -->
        {{template "header_tmpl" .}}
        <!-------------------------------- Header Section -->

        <!--------------------- Mobile side menu Responsive Section -->
        {{template "mobile_side_menu_tmpl" .}}
        <!--------------------- Mobile side menu Responsive Section -->

        <!---------------------------- Page Loader Section-->
        <div class="page-loader">
            <div class="page-loader-content">
                <div class="logo-area">
                    <img src="/assets/shop/img/svg/logo.svg" alt="">
                </div>
                <span class="loader"></span>
            </div>
        </div>
        <!---------------------------- Page Loader Section-->

        <!--------------------------------- Main Content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <div class="row" style="margin-top: 20px; margin-bottom: 20px; transform: none;">
                    <!-- Start Sidebar -->
                    {{template "customer_menu_tmpl" .}}
                    <!-- End Sidebar -->
                    <!-- Start Content -->
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="px-3 px-res-0">
                                    <div
                                            class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                        <h2>ویرایش اطلاعات شخصی</h2>
                                    </div>

                                    <div class="form-ui additional-info dt-sl dt-sn pt-4">
                                        <form action="/profile/edit" method="post">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="form-row-title">
                                                        <h3>نام</h3>
                                                    </div>
                                                    <div class="form-row">
                                                        <input type="text"
                                                               class="input-ui pr-2  {{if .ERRORS.firstname}}border-danger{{end}}"
                                                               name="first_name"
                                                               placeholder="نام خود را وارد نمایید"
                                                               value="{{if .OLDS.first_name}}{{range .OLDS.first_name}}{{.}}{{end}}{{else if .AUTH.FirstName}}{{.AUTH.FirstName}}{{end}}">

                                                        <span class="text-danger">{{if .ERRORS.firstname}}{{.ERRORS.firstname}}{{end}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <div class="form-row-title">
                                                        <h3> نام خانوادگی</h3>
                                                    </div>
                                                    <div class="form-row">
                                                        <input type="text"
                                                               class="input-ui pr-2  {{if .ERRORS.lastname}}border-danger{{end}}"
                                                               name="last_name"
                                                               placeholder="نام خانوادگی خود را وارد نمایید"
                                                               value="{{if .OLDS.last_name}}{{range .OLDS.last_name}}{{.}}{{end}}{{else if .AUTH.LastName}}{{.AUTH.LastName}}{{end}}">
                                                    </div>
                                                    <span class="text-danger">{{if .ERRORS.lastname}}{{.ERRORS.lastname}}{{end}}</span>
                                                </div>
                                                {{/*NIC Code*/}}
                                                {{/*<div class="col-md-6 mb-3">
                                                    <div class="form-row-title">
                                                        <h3>کد ملی</h3>
                                                    </div>
                                                    <div class="form-row">
                                                        <input type="text" class="input-ui pl-2 text-left dir-ltr"
                                                               placeholder="-">
                                                    </div>
                                                </div>*/}}
                                                {{/*Mobile*/}}
                                                <div class="col-md-6 mb-3">
                                                    <div class="form-row-title">
                                                        <h3>شماره موبایل</h3>
                                                    </div>
                                                    <div class="form-row">
                                                        <input disabled type="text"
                                                               class="input-ui pl-2 text-left dir-ltr border-primary"
                                                               value="{{if .AUTH.Mobile}}{{.AUTH.Mobile}}{{end}}">
                                                    </div>
                                                </div>
                                                {{/*email*/}}
                                                {{/*<div class="col-md-6 mb-3">
                                                    <div class="form-row-title">
                                                        <h3>آدرس ایمیل</h3>
                                                    </div>
                                                    <div class="form-row">
                                                        <input type="email" class="input-ui pl-2 text-left dir-ltr"
                                                               placeholder="آدرس ایمیل خود را وارد نمایید"
                                                               value="info@gmail.com">
                                                    </div>
                                                </div>*/}}
                                                {{/*profile*/}}
                                                {{/*<div class="col-md-6 mb-3">
                                                    <div class="form-row-title">
                                                        <h3>عکس پروفایل</h3>
                                                    </div>
                                                    <div class="form-row mt-2">
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                       id="inputGroupFile04"
                                                                       aria-describedby="inputGroupFileAddon04">
                                                                <label class="custom-file-label"
                                                                       for="inputGroupFile04">انتخاب
                                                                    عکس</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*/}}
                                            </div>
                                            <div class="dt-sl">
                                                <div class="form-row mt-3 justify-content-end">
                                                    <button type="submit" class="btn-primary-cm btn-with-icon"
                                                            style="width: 100%;margin: 0 auto;">
                                                        <i>
                                                            <svg style="margin-left: 3px;" width="23px" height="23px"
                                                                 version="1.1" id="Layer_1"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 viewBox="0 0 512 512" xml:space="preserve"><g
                                                                        transform="translate(1 1)">
                                                                    <path style="fill:#ccc" d="M502.467,255c0,136.533-110.933,247.467-247.467,247.467S7.533,391.533,7.533,255
                                                                S118.467,7.533,255,7.533S502.467,118.467,502.467,255"/>
                                                                    <path style="fill:#e2e3e5" d="M476.867,255c0,136.533-98.987,247.467-221.867,247.467S33.133,391.533,33.133,255
                                                                S132.12,7.533,255,7.533S476.867,118.467,476.867,255"/>
                                                                    <path style="fill:#fff" d="M33.133,255C33.133,118.467,132.12,7.533,255,7.533C118.467,7.533,7.533,118.467,7.533,255
                                                                S118.467,502.467,255,502.467C132.12,502.467,33.133,391.533,33.133,255"/>
                                                                    <path style="fill:#e0e0e0" d="M458.947,394.947c-5.12-54.613-51.2-97.28-107.52-97.28H301.08c-6.827,0-11.947-5.12-11.947-11.947
                                                                v-5.12c0-5.12,3.413-9.387,7.68-11.093c49.493-18.773,83.627-99.84,76.8-157.013C366.787,57.88,323.267,14.36,268.653,8.387
                                                                c-4.267-0.853-8.533-0.853-12.8-0.853l0,0c-65.707,0-119.467,53.76-119.467,119.467c0,51.2,32.427,126.293,77.653,142.507
                                                                c4.267,1.707,7.68,5.973,7.68,11.093v5.12c0,6.827-5.12,11.947-11.947,11.947h-50.347c-56.32,0-102.4,42.667-107.52,97.28
                                                                C95.427,459.8,170.52,502.467,255,502.467S414.573,459.8,458.947,394.947"/>
                                                                    <path style="fill:#f0f0f0" d="M351.427,297.667h-36.693L255,365.933l-68.267-68.267h-28.16c-56.32,0-102.4,42.667-107.52,97.28
                                                                C95.427,459.8,170.52,502.467,255,502.467s159.573-42.667,203.947-107.52C453.827,340.333,407.747,297.667,351.427,297.667"/>
                                                                    <g>
                                                                        <path style="fill:#b6b6b6" d="M127,475.16c-5.12,0-8.533-3.413-8.533-8.533V408.6c0-5.12,3.413-8.533,8.533-8.533
                                                                    s8.533,3.413,8.533,8.533v58.027C135.533,471.747,132.12,475.16,127,475.16z"/>
                                                                        <path style="fill:#b6b6b6" d="M383,475.16c-5.12,0-8.533-3.413-8.533-8.533V408.6c0-5.12,3.413-8.533,8.533-8.533
                                                                    c5.12,0,8.533,3.413,8.533,8.533v58.027C391.533,471.747,388.12,475.16,383,475.16z"/>
                                                                        <path style="fill:#b6b6b6" d="M255,374.467c-2.56,0-4.267-0.853-5.973-2.56L180.76,303.64c-2.56-2.56-3.413-5.973-1.707-9.387
                                                                    c1.707-3.413,4.267-5.12,7.68-5.12h22.187c5.12,0,8.533,3.413,8.533,8.533s-3.413,8.533-8.533,8.533h-1.707L255,353.987
                                                                    l47.787-47.787h-1.707c-5.12,0-8.533-3.413-8.533-8.533s3.413-8.533,8.533-8.533h22.187c3.413,0,6.827,1.707,7.68,5.12
                                                                    c1.707,3.413,0.853,6.827-1.707,9.387l-68.267,68.267C259.267,373.613,257.56,374.467,255,374.467z"/>
                                                                        <path style="fill:#b6b6b6" d="M255,511C114.2,511-1,395.8-1,255S114.2-1,255-1s256,115.2,256,256S395.8,511,255,511z M255,16.067
                                                                    C123.587,16.067,16.067,123.587,16.067,255S123.587,493.933,255,493.933S493.933,386.413,493.933,255S386.413,16.067,255,16.067z"/>
                                                                        <path style="fill:#b6b6b6" d="M255,511c-84.48,0-163.84-41.813-211.627-111.787c-0.853-1.707-1.707-3.413-1.707-5.973
                                                                    c5.973-59.733,56.32-104.96,116.053-104.96h50.347c1.707,0,3.413-1.707,3.413-3.413V280.6c0-1.707-0.853-2.56-1.707-2.56
                                                                    C162.84,260.12,127,183.32,127,127c0-34.133,13.653-66.56,37.547-90.453S220.867-1,255-1l0,0c5.12,0,9.387,0,14.507,0.853
                                                                    c58.027,6.827,104.96,53.76,112.64,111.787c6.827,59.733-27.307,145.92-81.92,166.4c-0.853,0-2.56,1.707-2.56,3.413v5.12
                                                                    c0,1.707,1.707,3.413,3.413,3.413h50.347c59.733,0,110.08,45.227,116.053,104.96c0,1.707,0,4.267-1.707,5.973
                                                                    C418.84,469.187,339.48,511,255,511z M59.587,392.387c45.227,64,117.76,101.547,195.413,101.547s150.187-37.547,195.413-101.547
                                                                    c-6.827-49.493-48.64-86.187-98.987-86.187H301.08c-11.093,0-20.48-9.387-20.48-20.48v-5.12c0-8.533,5.12-16.213,13.653-18.773
                                                                    c46.08-17.067,77.653-95.573,70.827-148.48C359.107,63,318.147,22.04,267.8,16.92c-4.267-0.853-7.68-0.853-11.947-0.853l0,0
                                                                    c-29.867,0-58.027,11.093-78.507,32.427c-21.333,21.333-33.28,48.64-33.28,78.507c0,49.493,31.573,119.467,72.533,134.827
                                                                    c7.68,2.56,12.8,10.24,12.8,18.773v5.12c0,11.093-9.387,20.48-20.48,20.48h-50.347C108.227,306.2,66.413,342.893,59.587,392.387z"/>
                                                                    </g>
                                                                    <path style="fill:#f0f0f0" d="M291.693,64.707c31.573,8.533,61.44,28.16,81.067,53.76c0-1.707,0-3.413,0-5.973
                                                                c-7.68-53.76-52.053-97.28-105.813-103.253c-4.267-0.853-8.533-0.853-12.8-0.853l0,0c-58.88,0-108.373,42.667-117.76,98.987l0,0
                                                                c1.707,2.56,52.053-20.48,75.947-10.24c7.68,3.413,15.36,5.12,23.893,5.12C260.973,102.253,282.307,86.04,291.693,64.707"/>
                                                                    <path style="fill:#b6b6b6" d="M371.907,127c-2.56,0-5.12-0.853-6.827-3.413c-16.213-22.187-40.96-39.253-69.12-48.64
                                                                c-11.947,22.187-34.987,35.84-59.733,35.84c-9.387,0-18.773-1.707-27.307-5.973c-14.507-6.827-45.227,3.413-59.733,7.68
                                                                c-11.093,3.413-16.213,5.12-20.48-0.853C127,109.933,127,107.373,127,105.667C138.093,44.227,191-0.147,253.293-0.147l0,0
                                                                c5.12,0,10.24,0,14.507,0.853c58.027,6.827,104.96,53.76,112.64,111.787c0,1.707,0,2.56,0,4.267v1.707
                                                                c0,3.413-1.707,7.68-5.12,8.533C374.467,127,372.76,127,371.907,127z M253.293,16.92c-49.493,0-92.16,31.573-105.813,78.507
                                                                c18.773-5.973,48.64-14.507,68.267-5.973c6.827,2.56,13.653,4.267,20.48,4.267c21.333,0,39.253-12.8,47.787-32.427
                                                                c1.707-4.267,5.973-5.973,10.24-5.12c23.893,6.827,46.08,18.773,64,34.133C344.6,51.053,308.76,22.04,266.093,16.92
                                                                C261.827,16.92,257.56,16.92,253.293,16.92L253.293,16.92z"/>
                                                                </g>
                                                            </svg>
                                                        </i>
                                                        ثبت اطلاعات کاربری
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
        </main>
        <!--------------------------------- Main Content -->

        <!-------------------------- Mobile Footer Menu Section-->
        {{template "mobile_footer_menu_tmpl" .}}
        <!-------------------------- Mobile Footer menu Section-->

        <!-------------------------------- Footer Section -->
        <footer class="main-footer dt-sl">
            <div class="back-to-top">
                <!--<a href="#">
                    <span class="icon">
                    <i class="mdi mdi-chevron-up"></i>
                    </span>
                    <span>بازگشت به بالا</span>
                </a>-->
            </div>
            <div class="container main-container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/delivery.svg">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/contact-us.svg">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/payment-terms.svg">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/return-policy.svg">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/origin-guarantee.svg">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">راهنمای خرید از دیجی پرس</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">نحوه ثبت سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه ارسال سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">شیوه‌های پرداخت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">پاسخ به پرسش‌های متداول</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه‌های بازگرداندن کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a href="#">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">با دیجی پرس</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">فروش در دیجی پرس</a>
                                    </li>
                                    <li>
                                        <a href="#">همکاری با سازمان‌ها</a>
                                    </li>
                                    <li>
                                        <a href="#">فرصت‌های شغلی</a>
                                    </li>
                                    <li>
                                        <a href="#">تماس با دیجی پرس</a>
                                    </li>
                                    <li>
                                        <a href="#">درباره دیجی پرس</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                                <form action="" class="mt-3">
                                    <input type="email" class="form-control"
                                           placeholder="آدرس ایمیل خود را وارد کنید...">
                                    <input type="submit" class="btn btn-primary" value="ارسال">
                                </form>
                            </div>
                            <div class="socials">
                                <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                                <div class="footer-social">
                                    <ul class="text-center mt-2">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-12 text-right">
                            <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container main-container">
                    <div class="row">
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی دیجی پرس، بررسی، انتخاب و خرید آنلاین</h1>
                            <p> دیجی پرس به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا،
                                موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل
                                شود. به محض ورود به دیجی پرس با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز
                                دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد. </p>
                        </div>
                        <div class="symbol col-12 col-lg-5">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/enamad/symbol-01.png" alt="">
                            </a>
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/enamad/symbol-02.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container main-container">
                    <p> استفاده از مطالب فروشگاه اینترنتی دیجی پرس فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی پرس) می‌باشد. </p>
                </div>
            </div>
        </footer>
        <!-------------------------------- Footer Section -->

        <!----------------------------- Go To Top Section -->
        {{template "go_to_top_tmpl" .}}
        <!----------------------------- Go To Top Section -->


    </div>


    <!-- Core JS Files -->
    <script src="/assets/shop/js/vendor/jquery.min.js"></script>
    <script src="/assets/shop/js/vendor/popper.min.js"></script>
    <script src="/assets/shop/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Plugins -->
    <script src="/assets/shop/js/vendor/bootstrap-slider.min.js"></script>
    <script src="/assets/shop/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/shop/js/vendor/owl.carousel2.thumbs.min.js"></script>
    <script src="/assets/shop/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/shop/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/assets/shop/plugin/go-to-top/script.js"></script>
    <script src="/assets/shop/plugin/iran-map/iranmap.js"></script>
    <!-- Main JS File -->
    <script src="/assets/shop/js/js-home-1/js-home-1.js"></script>

    <!-- my custom JS File -->
    <script src="/assets/shop/js/mylink/my-link.js"></script>
    <script src="/assets/shop/js/tseaerch/tsearch.js"></script>
    <script src="/assets/shop/js/tseaerch/tsearch_small.js"></script>
    </body>
    </html>
{{end}}