{{define "product_detail"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{.TITLE}}</title>
    </head>
    <body>
    {{if .AUTH}}
        <h1>welcome {{.AUTH.FirstName }}{{.AUTH.LastName}}</h1>
    {{else}}
        <a href="#">register</a>
        <a href="#">login</a>
    {{end}}
    <h1>Product detail</h1>

    <hr>
    <h1>Categories</h1>

    <hr>
    <h1>Product</h1>

    <hr>
    all data:
    <table border="1px solid red">
        {{range $k , $v:=.}}
            <tr>
                <td>{{$k}}</td>
                <td>{{$v}}</td>
            </tr>
        {{end}}
    </table>
    </body>
    </html>
{{end}}