{{define "shipping" }}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/assets/shop/img/seller-logo.png" type="image/icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{.TITLE}}</title>
        <!-- Font Icon -->
        <link rel="stylesheet" href="/assets/shop/css/vendor/font-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/shop/css/vendor/bootstrap.min.css">
        <!-- Plugins -->
        <link rel="stylesheet" href="/assets/shop/css/vendor/nice-select.css">
        <link rel="stylesheet" href="/assets/shop/css/vendor/owl.carousel.min.css">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/shop/css/main.css">
    </head>

    <body class="pt-0">
    <div class="wrapper shopping-page">
        <!------------------------ Header Shopping Section-->
        <header class="header-shopping dt-sl">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center pt-2 mt-3">
                        <div class="header-shopping-logo dt-sl">
                            <a href="#">
                                <img src="/assets/shop/img/svg/logo.svg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-12 text-center ">
                        <ul class="checkout-steps">
                            <li>
                                <a href="#" class="active">
                                    <span>اطلاعات ارسال</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>پرداخت</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>اتمام خرید و ارسال</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!------------------------ Header Shopping Section-->

        <!---------------------------- Page Loader Section-->
        <div class="page-loader">
            <div class="page-loader-content">
                <div class="logo-area">
                    <img src="/assets/shop/img/svg/logo.svg" alt="">
                </div>
                <span class="loader"></span>
            </div>
        </div>
        <!---------------------------- Page Loader Section-->

        <!--------------------------- Main Content Section-->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">
                <div class="row" style="margin-top: 50px;">
                    <div class="cart-page-content col-xl-9 col-lg-8 col-12 px-0">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                            <h2>انتخاب آدرس تحویل سفارش</h2>
                        </div>


                        <section class="page-content dt-sl">
                            <div class="address-section">
                                <div class="checkout-contact dt-sn dt-sn--box border px-0 pt-0 pb-0">
                                    <div class="checkout-contact-content">

                                        {{/*enter address*/}}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-ui dt-sl">
                                                    <form class="form-account"
                                                          method="post"
                                                          action="/addresses/store"
                                                          style="max-width: 100%;">
                                                        <div class="row">
                                                            {{if .MESSAGE}}
                                                                <div class="text-center p-2 ">
                                                                    <b class="text-danger fa-1x">
                                                                         {{.MESSAGE}}
                                                                    </b>
                                                                </div>
                                                                <br>
                                                            {{end}}

                                                            <div class="col-md-6 col-sm-12 mb-2">
                                                                <div class="form-row-title">
                                                                    <h4>
                                                                        نام ونام خانوادگی تحویل گیرنده
                                                                    </h4>
                                                                </div>
                                                                <div class="form-row">
                                                                    <input class="input-ui pr-2 text-right"
                                                                           type="text"
                                                                           value="{{if .OLDS.receiver_name}}{{range .OLDS.receiver_name}}{{.}}{{end}}{{else if gt .AUTH.Address.ID 0}}{{.AUTH.Address.ReceiverName}}{{end}}"
                                                                           name="receiver_name"
                                                                           placeholder="نام تحویل گیرنده را وارد نمایید">
                                                                    {{if .ERRORS.receivername}}
                                                                        <label class="text-danger">{{.ERRORS.receivername}}</label>
                                                                    {{end}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 mb-2">
                                                                <div class="form-row-title">
                                                                    <h4>
                                                                        شماره موبایل تحویل گیرنده
                                                                    </h4>
                                                                </div>
                                                                <div class="form-row">
                                                                    <input class="input-ui pl-2 dir-ltr text-left"
                                                                           type="number"
                                                                           value="{{if .OLDS.receiver_mobile}}{{range .OLDS.receiver_mobile}}{{.}}{{end}}{{else if gt .AUTH.Address.ID 0}}{{.AUTH.Address.ReceiverMobile}}{{end}}"
                                                                           name="receiver_mobile"
                                                                           placeholder="09xxxxxxxxx">
                                                                    {{if .ERRORS.receivermobile}}
                                                                        <label class="text-danger">{{.ERRORS.receivermobile}}</label>
                                                                    {{end}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12 mb-2">
                                                                <br>
                                                                <div class="form-row-title ">
                                                                    <h4 class="text-danger">
                                                                        توجه: توجه داشته باشید که ارسال سفارش فقط برای
                                                                        <u>
                                                                            شهرک اکباتان
                                                                        </u>
                                                                        می باشد
                                                                    </h4>
                                                                </div>
                                                                <br>
                                                            </div>

                                                            <div class="col-12 mb-2">
                                                                <div class="form-row-title">
                                                                    <h4>
                                                                        آدرس پستی
                                                                    </h4>
                                                                </div>
                                                                <div class="form-row">
                                                                    <textarea class="input-ui pr-2 text-right"
                                                                              name="receiver_address"
                                                                              placeholder=" آدرس تحویل گیرنده در شهرک اکباتان را وارد نمایید">{{if .OLDS.receiver_address}}{{range .OLDS.receiver_address}}{{.}}{{end}}{{else if gt .AUTH.Address.ID 0}}{{.AUTH.Address.ReceiverAddress}}{{end}}</textarea>
                                                                    {{if .ERRORS.receiveraddress}}
                                                                        <label class="text-danger">{{.ERRORS.receiveraddress}}</label>
                                                                    {{end}}
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-2">
                                                                <div class="form-row-title">
                                                                    <h4>
                                                                        کد پستی
                                                                    </h4>
                                                                </div>
                                                                <div class="form-row">
                                                                    <input class="input-ui pl-2 dir-ltr text-left placeholder-right"
                                                                           name="receiver_postal_code"
                                                                           type="number"
                                                                           value="{{if .OLDS.receiver_postal_code}}{{range .OLDS.receiver_postal_code}}{{.}}{{end}}{{else if gt .AUTH.Address.ID 0}}{{.AUTH.Address.ReceiverPostalCode}}{{end}}"
                                                                           placeholder=" کد پستی را بدون خط تیره بنویسید">
                                                                    {{if .ERRORS.receiverpostalcode}}
                                                                        <label class="text-danger">{{.ERRORS.receiverpostalcode}}</label>
                                                                    {{end}}
                                                                </div>
                                                            </div>
                                                            <div class="col-12 pr-4 pl-4">
                                                                <button type="submit"
                                                                        class="btn btn-sm btn-primary btn-submit-form"
                                                                        style="background: #f7858d;font-weight: 600;box-shadow: none;border: none;margin-top: 10px;color: #fff;">
                                                                    ثبت آدرس
                                                                </button>
                                                                <button type="button"
                                                                        class="btn-link-border float-left mt-3">
                                                                    انصراف
                                                                    و بازگشت
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout-contact-badge">
                                            <i>
                                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.91988 12.257C4.2856 12.257 3.65131 12.5199 3.19988 13.0342C2.79417 13.4913 2.59417 14.0799 2.63417 14.6913C2.67417 15.3027 2.94846 15.857 3.4056 16.2627L7.51417 19.8684C7.93131 20.2342 8.46846 20.4399 9.02274 20.4399C9.0856 20.4399 9.14846 20.4399 9.21131 20.4342C9.82846 20.3827 10.4056 20.0799 10.7942 19.5999L20.857 7.27986C21.657 6.30272 21.5085 4.85701 20.5313 4.05701C20.057 3.67415 19.4627 3.49129 18.857 3.55415C18.2513 3.61701 17.7027 3.90844 17.3142 4.38272L8.74846 14.8627L6.42274 12.8227C5.99417 12.4456 5.45131 12.257 4.91988 12.257Z"
                                                          fill="url(#paint0_linear)"/>
                                                    <path d="M9.02279 20.0284C8.56565 20.0284 8.12565 19.8627 7.78279 19.5598L3.67422 15.9541C2.89708 15.2684 2.81708 14.0798 3.50279 13.3027C4.18851 12.5255 5.37708 12.4455 6.15422 13.1313L8.79994 15.4513L17.6285 4.63983C18.2856 3.83412 19.4685 3.71983 20.2742 4.37126C21.0799 5.0284 21.1942 6.21126 20.5428 7.01697L10.4742 19.337C10.1542 19.7313 9.67993 19.977 9.17708 20.0227C9.12565 20.0227 9.07422 20.0284 9.02279 20.0284Z"
                                                          fill="url(#paint1_linear)"/>
                                                    <path opacity="0.75"
                                                          d="M9.02279 20.0284C8.56565 20.0284 8.12565 19.8627 7.78279 19.5598L3.67422 15.9541C2.89708 15.2684 2.81708 14.0798 3.50279 13.3027C4.18851 12.5255 5.37708 12.4455 6.15422 13.1313L8.79994 15.4513L17.6285 4.63983C18.2856 3.83412 19.4685 3.71983 20.2742 4.37126C21.0799 5.0284 21.1942 6.21126 20.5428 7.01697L10.4742 19.337C10.1542 19.7313 9.67993 19.977 9.17708 20.0227C9.12565 20.0227 9.07422 20.0284 9.02279 20.0284Z"
                                                          fill="url(#paint2_radial)"/>
                                                    <path opacity="0.5"
                                                          d="M9.02279 20.0284C8.56565 20.0284 8.12565 19.8627 7.78279 19.5598L3.67422 15.9541C2.89708 15.2684 2.81708 14.0798 3.50279 13.3027C4.18851 12.5255 5.37708 12.4455 6.15422 13.1313L8.79994 15.4513L17.6285 4.63983C18.2856 3.83412 19.4685 3.71983 20.2742 4.37126C21.0799 5.0284 21.1942 6.21126 20.5428 7.01697L10.4742 19.337C10.1542 19.7313 9.67993 19.977 9.17708 20.0227C9.12565 20.0227 9.07422 20.0284 9.02279 20.0284Z"
                                                          fill="url(#paint3_radial)"/>
                                                    <defs>
                                                        <linearGradient id="paint0_linear" x1="15.825" y1="-13.9667"
                                                                        x2="9.82533" y2="23.9171"
                                                                        gradientUnits="userSpaceOnUse">
                                                            <stop stop-color="#00CC00"/>
                                                            <stop offset="0.1878" stop-color="#06C102"/>
                                                            <stop offset="0.5185" stop-color="#17A306"/>
                                                            <stop offset="0.9507" stop-color="#33740C"/>
                                                            <stop offset="1" stop-color="#366E0D"/>
                                                        </linearGradient>
                                                        <linearGradient id="paint1_linear" x1="15.2501" y1="0.625426"
                                                                        x2="7.43443" y2="23.6215"
                                                                        gradientUnits="userSpaceOnUse">
                                                            <stop offset="0.2544" stop-color="#90D856"/>
                                                            <stop offset="0.736" stop-color="#00CC00"/>
                                                            <stop offset="0.7716" stop-color="#0BCD07"/>
                                                            <stop offset="0.8342" stop-color="#29CF18"/>
                                                            <stop offset="0.9166" stop-color="#59D335"/>
                                                            <stop offset="1" stop-color="#90D856"/>
                                                        </linearGradient>
                                                        <radialGradient id="paint2_radial" cx="0" cy="0" r="1"
                                                                        gradientUnits="userSpaceOnUse"
                                                                        gradientTransform="translate(15.452 8.95803) rotate(116.129) scale(8.35776 4.28316)">
                                                            <stop stop-color="#FBE07A" stop-opacity="0.75"/>
                                                            <stop offset="0.0803394" stop-color="#FBE387"
                                                                  stop-opacity="0.6897"/>
                                                            <stop offset="0.5173" stop-color="#FDF2C7"
                                                                  stop-opacity="0.362"/>
                                                            <stop offset="0.8357" stop-color="#FFFBF0"
                                                                  stop-opacity="0.1233"/>
                                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                                        </radialGradient>
                                                        <radialGradient id="paint3_radial" cx="0" cy="0" r="1"
                                                                        gradientUnits="userSpaceOnUse"
                                                                        gradientTransform="translate(11.6442 17.0245) rotate(155.316) scale(9.80163 4.14906)">
                                                            <stop stop-color="#440063" stop-opacity="0.25"/>
                                                            <stop offset="1" stop-color="#420061" stop-opacity="0"/>
                                                        </radialGradient>
                                                    </defs>
                                                </svg>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" id="shipping-data-form" class="dt-sn dt-sn--box pt-3 pb-3">
                                <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                                    <h2>مرسوله</h2>
                                </div>
                                <div class="checkout-pack">
                                    <section class="products-compact">
                                        <!-- Start Product-Slider -->
                                        <div class="col-12">
                                            <div class="products-compact-slider carousel-md owl-carousel owl-theme">
                                                {{if gt (len .AUTH.Cart.CartItem.Data) 0}}
                                                    {{range $item:=.AUTH.Cart.CartItem.Data}}
                                                        <div class="item">
                                                            <div class="product-card mb-3">
                                                                <a class="product-thumb"
                                                                   target="_blank"
                                                                   href="/product/{{$item.ProductSku}}/{{$item.ProductSlug}}">
                                                                    <img src="/{{$item.ProductImage}}"
                                                                         alt="{{$item.ProductTitle}}">
                                                                </a>
                                                                <div class="product-card-body">
                                                                    <h5 class="product-title">
                                                                        <a class="product-thumb"
                                                                           target="_blank"
                                                                           href="/product/{{$item.ProductSku}}/{{$item.ProductSlug}}">
                                                                            {{$item.ProductTitle}}
                                                                        </a>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {{end}}
                                                {{end}}
                                            </div>
                                        </div>
                                        <!-- End Product-Slider -->
                                    </section>
                                    <hr>
                                </div>

                            </form>
                            <div class="mt-5">
                                <a href="/checkout/cart" class="float-right  btn btn-lg btn-danger"><i
                                            class="mdi  mdi-chevron-double-right"></i>بازگشت به سبد خرید</a>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-12 sticky-sidebar">
                        <div class="widget-post1 dt-sn dt-sn--box border mb-2">
                            <ul class="checkout-summary-summary">
                                <li>
                                    <span>مبلغ کل ({{.AUTH.Cart.CartItem.TotalItemCount}} کالا)</span><span>
                                        {{.AUTH.Cart.CartItem.TotalSalePrice}}
                                        تومان
                                    </span>
                                </li>
                                <li class="checkout-summary-discount">
                                    <span>سود شما از خرید</span><span><span></span>
                                        {{.AUTH.Cart.CartItem.TotalProfitPrice}}
                                        تومان</span>
                                </li>
                                <li>
                                    <span>هزینه ارسال<span class="help-sn" data-toggle="tooltip" data-html="true"
                                                           data-placement="bottom"
                                                           title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با ۱۵۰هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">
                                            <span class="mdi mdi-information-outline"></span>
                                        </span></span><span>وابسته به آدرس</span>
                                </li>

                            </ul>
                            <div class="checkout-summary-devider">
                                <div></div>
                            </div>
                            <div class="checkout-summary-content">
                                <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                                <div class="checkout-summary-price-value">
                                    <span class="checkout-summary-price-value-amount">
                                        {{.AUTH.Cart.CartItem.TotalSalePrice}}
                                    </span>
                                    تومان
                                </div>

                                <form action="/checkout/payment" method="post">
                                    <button type="submit"
                                            class="btn-primary-cm btn-with-icon w-100 text-center pr-0 pl-0">
                                        <i>
                                            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g id="Iconly/Curved/Arrow - Left">
                                                    <g id="Arrow - Left">
                                                        <path id="Stroke 1" d="M4.24988 12.2742L19.2499 12.2742"
                                                              stroke="#fff" stroke-width="1.5"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round"></path>
                                                        <path id="Stroke 3"
                                                              d="M10.3002 18.2988C10.3002 18.2988 4.25017 15.0378 4.25017 12.2758C4.25017 9.51176 10.3002 6.24976 10.3002 6.24976"
                                                              stroke="#fff" stroke-width="1.5"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </i>
                                        پرداخت
                                    </button>
                                </form>

                                <div>
                                    <span>
                                        کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                        مراحل بعدی را تکمیل کنید.
                                    </span><span class="help-sn" data-toggle="tooltip" data-html="true"
                                                 data-placement="bottom"
                                                 title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی پرس هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">
                                        <span class="mdi mdi-information-outline"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-post2 dt-sn dt-sn--box checkout-feature-aside pt-4">
                            <ul>
                                <li class="checkout-feature-aside-item">
                                    <img src="/assets/shop/img/svg/return-policy.svg" alt="">
                                    هفت روز ضمانت تعویض
                                </li>
                                <li class="checkout-feature-aside-item">
                                    <img src="/assets/shop/img/svg/payment-terms.svg" alt="">
                                    پرداخت در محل با کارت بانکی
                                </li>
                                <li class="checkout-feature-aside-item">
                                    <img src="/assets/shop/img/svg/delivery.svg" alt="">
                                    تحویل اکسپرس
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--------------------------- Main Content Section-->


        <!-------------------------- Mobile Footer Menu Section-->
        {{template "mobile_footer_menu_tmpl" .}}
        <!-------------------------- Mobile Footer menu Section-->

        <!-------------------------------- Footer Section -->
        <footer class="main-footer dt-sl">
            <div class="back-to-top">
                <!--<a href="#">
                    <span class="icon">
                    <i class="mdi mdi-chevron-up"></i>
                    </span>
                    <span>بازگشت به بالا</span>
                </a>-->
            </div>
            <div class="container main-container">
                <div class="footer-services">
                    <div class="row">
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/delivery.svg">
                            </a>
                            <p>تحویل اکسپرس</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/contact-us.svg">
                            </a>
                            <p>پشتیبانی 24 ساعته</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/payment-terms.svg">
                            </a>
                            <p>پرداخت درمحل</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/return-policy.svg">
                            </a>
                            <p>۷ روز ضمانت بازگشت</p>
                        </div>
                        <div class="service-item col">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/svg/origin-guarantee.svg">
                            </a>
                            <p>ضمانت اصل بودن کالا</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widgets">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">راهنمای خرید از دیجی پرس</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">نحوه ثبت سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه ارسال سفارش</a>
                                    </li>
                                    <li>
                                        <a href="#">شیوه‌های پرداخت</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">خدمات مشتریان</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">پاسخ به پرسش‌های متداول</a>
                                    </li>
                                    <li>
                                        <a href="#">رویه‌های بازگرداندن کالا</a>
                                    </li>
                                    <li>
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a href="#">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="widget-menu widget card">
                                <header class="card-header">
                                    <h3 class="card-title">با دیجی پرس</h3>
                                </header>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">فروش در دیجی پرس</a>
                                    </li>
                                    <li>
                                        <a href="#">همکاری با سازمان‌ها</a>
                                    </li>
                                    <li>
                                        <a href="#">فرصت‌های شغلی</a>
                                    </li>
                                    <li>
                                        <a href="#">تماس با دیجی پرس</a>
                                    </li>
                                    <li>
                                        <a href="#">درباره دیجی پرس</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                                <form action="" class="mt-3">
                                    <input type="email" class="form-control"
                                           placeholder="آدرس ایمیل خود را وارد کنید...">
                                    <input type="submit" class="btn btn-primary" value="ارسال">
                                </form>
                            </div>
                            <div class="socials">
                                <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                                <div class="footer-social">
                                    <ul class="text-center mt-2">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-12 text-right">
                            <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="container main-container">
                    <div class="row">
                        <div class="site-description col-12 col-lg-7">
                            <h1 class="site-title">فروشگاه اینترنتی دیجی پرس، بررسی، انتخاب و خرید آنلاین</h1>
                            <p> دیجی پرس به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا،
                                موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل
                                شود. به محض ورود به دیجی پرس با یک سایت پر از کالا رو به رو می‌شوید! هر آنچه که نیاز
                                دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد. </p>
                        </div>
                        <div class="symbol col-12 col-lg-5">
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/enamad/symbol-01.png" alt="">
                            </a>
                            <a href="#" target="_blank">
                                <img src="/assets/shop/img/enamad/symbol-02.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container main-container">
                    <p> استفاده از مطالب فروشگاه اینترنتی دیجی پرس فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی پرس) می‌باشد. </p>
                </div>
            </div>
        </footer>
        <!-------------------------------- Footer Section -->

        <!----------------------------- Go To Top Section -->
        {{template "go_to_top_tmpl" .}}
        <!----------------------------- Go To Top Section -->

    </div>

    <!-- Core JS Files -->
    <script src="/assets/shop/js/vendor/jquery.min.js"></script>
    <script src="/assets/shop/js/vendor/popper.min.js"></script>
    <script src="/assets/shop/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Plugins -->
    <script src="/assets/shop/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/shop/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/shop/js/vendor/theia-sticky-sidebar.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/shop/js/js-shopping/js-shopping.js"></script>

    <!-- my custom JS File -->
    <script src="/assets/shop/js/mylink/my-link.js"></script>
    <script src="/assets/shop/js/tseaerch/tsearch.js"></script>
    <script src="/assets/shop/js/tseaerch/tsearch_small.js"></script>
    </body>
    </html>
{{end}}