{{define "admin_create_slider"}}
    {{template "head" .}}
    <!-- navbar -->
    {{template "navbar" .}}
    <!-- Main Sidebar Container -->
    {{template "sidebar" .}}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">{{.TITLE}}</h1>
                        <br>
                        <span class="text-success">{{if .MESSAGE}}{{.MESSAGE}}{{end}}</span>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">

                        {{if .ERRORS}}
                            <div class="alert alert-danger">
                                <ul style="margin:0; padding-right:1rem;">
                                    {{range $k, $v := .ERRORS}}
                                        <li>{{$v}}</li>
                                    {{end}}
                                </ul>
                            </div>
                        {{end}}

                        {{template "slider_form" .}}

                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {{template "footer" .}}
{{end}}
