{{define "att"}}
    {{template "head" .}}
    <!-- navbar -->
    {{template "navbar" .}}
    <!-- Main Sidebar Container -->
    {{template "sidebar" .}}
    <!-- CDN links -->


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">{{.TITLE}}</h1>
                    </div><!-- /.col -->
                    <br>
                    <div class="form-control">
                        <table class="table-bordered w-100 table-responsive-lg table-hover table-bordered text-center">
                            <tr>
                                <td>سایر عملیات</td>
                                <td>
                                    <a href="/admins/products/{{.PRODUCT_ID}}">مشاهده محصول</a> |
                                    <a href="/admins/products/{{.PRODUCT_ID}}/show-gallery"> <b> ویرایش و مشاهده
                                            تصاویر</b> </a> |

                                    <a href="/admins/products/{{.PRODUCT_ID}}/add-inventory">
                                        <b>افزودن موجودی</b>
                                    </a>
                                    |
                                    <a href="/admins/products/{{.PRODUCT_ID}}/edit-inventory">
                                        <b>ویرایش موجودی</b>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 align-content-center">

                        <div class="/admins/" style="min-height:360px;">
                            <div class="">
                                <form action="/admins/products/{{.PRODUCT_ID}}/add-attributes" method="post">
                                    <div class="form-group">
                                        <select class="form-group-lg" name="attributes" multiple="multiple">
                                            <option value="">انتخاب کنید</option>
                                            {{range .ATTRIBUTES.Data}}
                                                <optgroup label="{{.Title}}">
                                                    {{ range .AttributeValues.Data }}
                                                        <option data-root-id="root2"
                                                                value="attribute_id:{{.AttributeID}}:attribute_title:{{.AttributeTitle}}:value_id:{{.ID}}:value:{{.Title}}">{{.Title}}</option>
                                                    {{ end }}
                                                </optgroup>
                                                {{.Title}} <br>
                                            {{end}}
                                        </select>
                                    </div>
                                    <input type="submit" value="send">

                                    <br>
                                    <br>
                                    <span class="text-info border-white">
                                        {{if .MESSAGE}} {{.MESSAGE}} {{end}}
                                    </span>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr>

            <hr>
            {{.AUTH.FirstName}}
            <br>
            {{range $a,$key:=.}}
                {{$a}}:{{$key}}<br>
            {{end}}
        </div>
    </div>


    <!-- -->
    <script type="text/javascript">
        $('select').amsifySelect({
            type: 'amsify'
        });
    </script>

    <!-- Main Footer -->
    {{template "footer" .}}
{{end}}