{{define "edit-gallery-product"}}
    {{template "head" .}}
    <!-- navbar -->
    {{template "navbar" .}}
    <!-- Main Sidebar Container -->
    {{template "sidebar" .}}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">{{.TITLE}}</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->


        <!-- Main content -->
        <div class="content">
            {{$selectedCategory:=.PRODUCT.CategoryID}}

            {{$selectedBrand :=.PRODUCT.BrandID}}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 align-content-center">
                        <form action="/admins/products/{{.PRODUCT.ID}}/add-images" method="post"
                              enctype="multipart/form-data">
                            <table class="table table-primary ">
                                <tr>
                                    <td>سایر عملیات</td>
                                    <td>
                                        <a href="/admins/products/{{.PRODUCT.ID}}"><b>مشاهده محصول</b></a> |
                                        <a href="/admins/products/{{.PRODUCT.ID}}/edit">
                                            <b>ویرایش محصول</b>
                                        </a>
                                        |
                                        <a href="/admins/products/{{.PRODUCT.ID}}/add-attributes">افزودن ویژگی</a> |
                                        <a href="/admins/products/{{.PRODUCT.ID}}/add-inventory">
                                            <b>افزودن موجودی</b>
                                        </a>
                                        |
                                        <a href="/admins/products/{{.PRODUCT.ID}}/edit-inventory">
                                            <b>ویرایش موجودی</b>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>عنوان</td>
                                    <td>
                                        <label type="text" class="form-control">
                                            {{.PRODUCT.Title}}
                                        </label>
                                    </td>

                                </tr>
                                <tr>
                                    <td>تصاویر</td>
                                    <td>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" multiple name="images[]" class="custom-file-input"
                                                       id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">انتخاب
                                                    فایل</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>

                                    </td>
                                    <td>{{if .ERRORS.images}}{{.ERRORS.images}}{{end}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <input class="btn  btn-primary btn-lg" type="submit" value="آپلود تصاویر">
                                    </td>
                                    <td class="text-info">{{if .MESSAGE}}{{.MESSAGE}}{{end}}</td>
                                </tr>

                            </table>

                        </form>

                        {{range .PRODUCT.Images.Data}}
                            <a href="/{{.FullPath}}" target="_blank">سایز اصلی</a> |
                            <a href="/admins/products/images/{{.ID}}/delete">حذف</a>
                            <img src="/{{.FullPath}}" width="450px" alt="">
                            <br>
                            <br>
                        {{end}}

                    </div>
                    <!-- /.col-md-6 -->

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->


    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {{template "footer" .}}
{{end}}
