{{define "admin_show_product"}}
    {{template "head" .}}
    <!-- navbar -->
    {{template "navbar" .}}
    <!-- Main Sidebar Container -->
    {{template "sidebar" .}}
    <!-- CDN links -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">{{.TITLE}}</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">

                        <div class="form-control">
                            {{if .PRODUCT}}
                                <table class="table-bordered w-100 table-responsive-lg table-hover table-bordered text-center">
                                    <tr>
                                        <td>سایر عملیات</td>
                                        <td>
                                            <a href="/admins/products/{{.PRODUCT.ID}}/add-feature">افزودن صفات</a> |
                                            <a href="/admins/products/{{.PRODUCT.ID}}/show-gallery"> <b> ویرایش و مشاهده
                                                    تصاویر</b> </a> |
                                            <a href="/admins/products/{{.PRODUCT.ID}}/add-attributes">مشاهده و ویرایش
                                                ویژگی</a> |
                                            <a href="/admins/products/{{.PRODUCT.ID}}/add-inventory">
                                                <b>مشاهده و ویرایش موجودی</b>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table class="table-bordered w-100 table-responsive-lg table-hover table-bordered text-center">

                                    <tr>
                                        <td>#</td>
                                        <td>title</td>
                                        <td>slug</td>
                                        <td>sku</td>
                                        <td>status</td>
                                        <td>original price</td>
                                        <td>sale price</td>
                                        <td>category</td>
                                        <td>برند</td>
                                        <td>op</td>
                                    </tr>
                                    <tr>
                                        <td>{{.PRODUCT.ID}}</td>
                                        <td>{{.PRODUCT.Title}}</td>
                                        <td>{{.PRODUCT.Slug}}</td>
                                        <td>{{.PRODUCT.Sku}}</td>
                                        <td>{{.PRODUCT.Status}}</td>
                                        <td>{{.PRODUCT.OriginalPrice}}</td>
                                        <td>{{.PRODUCT.SalePrice}}</td>
                                        <td>
                                            <a href="/admins/categories/{{.PRODUCT.Category.ID}}">{{.PRODUCT.Category.Title}}</a>
                                        </td>
                                        <td>{{.PRODUCT.Brand.Title}}</td>
                                        <td>
                                            <a href="/admins/products/{{.PRODUCT.ID}}/edit">Edit</a>
                                        </td>
                                    </tr>
                                </table>
                                <hr>

                                <div class="d-flex ">
                                    {{range .PRODUCT.ProductInventories.Data}}
                                        <div class="form-control m-2 p-4">
                                            <b>موجودی:</b> {{.Quantity}}<br>
                                            <b>ویژگی ها:</b><br>

                                            <br>

                                        </div>

                                    {{end}}
                                </div>
                            {{end}}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Footer -->
    {{template "footer" .}}
{{end}}
