{{define "admin_create_attribute_values"}}
    {{template "head" .}}
    <!-- navbar -->
    {{template "navbar" .}}
    <!-- Main Sidebar Container -->
    {{template "sidebar" .}}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">{{.TITLE}}</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <form action="/admins/attribute-values" method="post">
                            <table class="table table-primary ">
                                <tr>
                                    <td>دسته بندی والد</td>
                                    <td>
                                        <select name="parent_id" id="parent-category">
                                            <option value="">select</option>
                                            {{range .CATEGORIES.Data}}
                                                <option value="{{.ID}}">
                                                    {{.Title}}
                                                </option>
                                            {{end}}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ویژگی</td>
                                    <td>
                                        <select name="attribute_id" id="attribute">
                                            <option data value="">انتخاب کنید</option>
                                        </select>
                                        <span class="text-danger">{{ .ERRORS.attribute_id}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مقدار</td>
                                    <td><input type="text" name="value"
                                               class="form-control"
                                               value="{{range .OLDS.value}}{{.}}{{end}}"></td>
                                    <td class="text-danger">{{ .ERRORS.value}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input class="btn btn-primary btn-lg" type="submit" value="ایجاد"></td>
                                    <td class="text-info border-white">
                                        {{if .MESSAGE}} {{.MESSAGE}} {{end}}
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <!-- /.col-md-6 -->
                    {{.AUTH.FirstName}}
                    <br>
                    {{range $a, $key := .}}
                        {{$a}}:{{$key}}<br>
                    {{end}}
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {{template "footer" .}}

    <script>
        $(document).ready(function () {
            $('#parent-category').change(function () {
                var parentId = $(this).val();

                if (parentId) {
                    $.ajax({
                        url: '/admins/get-attributes/' + parentId,
                        type: 'GET',
                        success: function (response) {
                            $('#attribute').empty();
                            $('#attribute').append('<option value="">انتخاب کنید</option>');
                            $.each(response.Data, function (index, attribute) {
                                $('#attribute').append('<option value="' + attribute.ID + '">' + attribute.Title + '</option>');
                            });
                        },
                        error: function (error) {
                            console.log("Error fetching attributes:", error);
                        }
                    });
                } else {
                    $('#attribute').empty();
                    $('#attribute').append('<option value="">انتخاب کنید</option>');
                }
            });
        });
    </script>
{{end}}
